.education{

  a{
    color: black;
  }
  div{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.nackademin{
  img{
    width:15em;
    height: auto;
    padding: 2em;
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
  }
}
