.parallax{
  background: url('../images/collageSmall.png') no-repeat center;
  height: 15em;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  @media screen and (min-width: 1000px){
    background: url('../images/collage') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
  }
}
